<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <parameter name="productName" value="pen"/>
    <parameter name="quantity" value="5"/>
    <test name="Regression tests">
        <classes>
            <class name="org.qafellas.tests.Annotations1"/>
            <class name="org.qafellas.tests.Annotations2"/>
            <class name="org.qafellas.tests.Annotations3"/>
            <class name="org.qafellas.tests.ArrayTests"/>
            <class name="org.qafellas.tests.ExampleTests"/>
            <class name="org.qafellas.tests.StringTests"/>
            <class name="org.qafellas.tests.ArithmeticTests"/>
            <class name="org.qafellas.tests.DataProviderTest"/>
            <class name="org.qafellas.tests.ParametersTest"/>
        </classes>
    </test>
</suite>